{
  "extends": "airbnb/legacy",
  "env": {
    "es6": true
  },
  "rules": {
    "no-var": 2,
    "no-const-assign": 2,
    "no-console": 0,
    "func-names": 0,
    "vars-on-top": 0,
    "no-use-before-define": 0,
    "space-before-function-paren": 0,
    "max-len": [1, 120, 2, {"ignoreComments": true, "ignoreUrls": true}],
    "no-param-reassign": 0,
    "quote-props": 0,
    "wrap-iife": [2, "inside"],
    "import/no-unresolved": 0,
    "indent": 0,
    "no-buffer-constructor": 0, // We still support Node v4.
  }
}
